################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo

/Parsedoc_Console/packages
/**/bin/**/Debug
/**/bin/**
/**/obj/**
/**/bin/**/Release
/**/obj/**/Debug